/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
$bg-color: #2c3e50;

*{
  font-family: 'Montserrat', sans-serif;
}

body nav{
  background: $bg-color;
}
h1{
  color: #7f8c8d;
}
footer.footer-style{
  background: #34495e;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.articles img{
  max-height: 300px;
}

.articles .card-panel{
  padding: 15px 30px;
}